.home-nav{
    background-image: url(../DNK/home-new-bg-free-img.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.for-bg{
    background-color: rgba(13, 13, 32, 0.3);
    height: 100vh;
}

.link-bar{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 13, 32, 0.1);
}

.left-link {
    display: flex;
    align-items: center;
}

.left-link img{
    height: 50px;
}

.left-link ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.left-link li{
    margin: 0px 10px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.right-link ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.right-link li{
    margin: 0px 10px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.for-intro{
   margin: 8% 5%;
}

.for-intro h1{
    font-size: 66px;
    color: white;
    width: 50%;
}

.for-intro h3{
    font-size: 26px;
    color: white;
    margin: 50px 0px;
}

.white-btn{
    padding: 15px 30px;
    background-color: white;
    border: none;
    font-weight: 600;
}

.white-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.trans-btn{
    padding: 13px 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    color: white;
    margin: 0px 30px;
    font-weight: 600;
}

.trans-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.img-for-bg{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
}

.img-bg-color{
    background-color: rgba(0, 0, 0, 0.5);
    width: 29vw;
    height: 80vh;
}

.bg-text{
    padding:  300px 8%;
    height: 100%;
    display: flex;
    flex-flow: column; 
}

.bg-text h3{
    color: white;
    font-size: 30px;
}

.bg-text p{
    color: white;
    line-height: 30px;
    margin: 15px 0px;
}

.bg-text button{
    width: 50%;
}

.img-bg-1{
    background-image: url(../DNK/women.jpg);
    background-repeat: no-repeat;
    background-position: right;
}


.img-bg-2{
    background-image: url(../DNK/men.jpg);
    background-repeat: no-repeat;
    background-position: left;
}


.img-bg-3{
    background-image: url(../DNK/footwear.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.feature-section{
    min-height: 500px;
}

.feature-head{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.feature-head h2{
    font-size: 42px;
    margin-top: 5%;
}

.feature-head hr{
    width: 150px;
    border: none;
    border-top: 3px solid #0075BE;
    margin: 15px 0px;
}



.product img{
    width: 230px;
}

.product h4{
    font-size: 16px;
    font-weight: 700;
}

.product h5{
    color: rgba(0, 0, 0, 0.485);
    font-size: 15px;
    margin: 5px 0px;
}

.product div{
    display: flex;
}

.featured-grid{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
   
}

.banner{
    background-image: url(../DNK/banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.8%;
}

.banner-bg{
    background-color: rgba(13, 13, 32, 0.2);
    height: 80vh;
}

.banner-items{
    padding: 8%;
    color: white;
}

.banner-items h3{
    font-size: 22px;
    letter-spacing: 1px;
}

.banner-items h2{
    font-size: 40px;
    letter-spacing: 1px;
    margin: 20px 0px;
}

.banner-items p{
    width: 50%;
    margin: 30px 0px;
    line-height: 30px;
}

.banner-items button{
    margin: 30px 0px;
}

.for-offers{
    height: 100%;
    background-color: #F5F7F9;
}

.abt-offers{
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    text-align: center;
}

.abt-offers img{
    height: 50px; 
    margin: 10px 0px; 
}

.abt-offers h3{
    margin: 20px 0px;
}

.abt-offers p{
    line-height: 30px;
}

.sale-ad{
    height: 10vh;
}

.sale-ad h2{
   margin: 35px 70px;
}

.sale-ad h2:hover{
    cursor: pointer;
    color: #07629b;
}

.end-abt{
    display: flex;
    justify-content: space-between;
    padding: 8% 5%;
}

.end-left img{
    height: 30px;
}

.end-left h3{
    font-size: 25px;
    margin: 15px 0px;
    width: 100%;
}

.end-center{
    display: flex;
    flex-flow: column;
    margin: 0px 20px;
}

.end-center h5{
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0px;
}

.end-center a{
    margin: 5px 0px;
    color: rgba(0, 0, 0, 0.47);
}

.end-center a:hover{
    color: #0075BE;
    cursor: pointer;
}

.end-right{
    display: flex;
    flex-flow: column;
    margin: 25px 0px;
}

.end-right input{
    padding: 12px 30px;
    font-size: 16px;
    background-color: #f5f7f9bf;
    border: 1px solid #d0d2d3;
}

.bluebtn{
    padding: 15px 20px;
    width: 70%;
    margin: 15px 0px;
    background-color: #0075BE;
    border: none;
    color: white;
}

.bluebtn:hover{
    cursor: pointer;
    background-color: #07629b;
}

.main-end {
    margin: 1.5% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-end ul{
    display: flex;
    list-style: none;
    
}

.main-end li{
    margin: 0px 10px;
}

.main-end li:hover{
    cursor: pointer;
    color: #07629b;

}

.main-end p{
    color: rgba(0, 0, 0, 0.689);
}


/*

ABOUT PAGE CSS STARTS HERE 

*/

.about-bg{
    background-image: url(../DNK/banner-04.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about-bg-color{
    background-color: rgba(17, 17, 150, 0.3);
    height: 80vh;
}

.about-head{
    color: white;
    text-align: center;
    margin: 100px;
    font-size: 45px;
}


/* RESPONSIVENESS STARTS HERE */

@media screen and (max-width: 1000px){
    .left-link ul{
        display: none;
    }

    .right-link ul{
        display: none;
    }

    .for-intro h1{
        font-size: 60px;
    }

    .for-intro h3{
        font-size: 22px;
    }

    .featured-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2px;
    }

    .product img{
        width: 200px;;
    }

    .sale-ad h2{
        font-size: 20px;
    }
}

@media screen  and  (max-width: 900px){
   

    .bg-text h3{
        font-size: 25px;
        margin-top: -100px;
    }
    
    .bg-text p{
        line-height: 25px;
        margin: 10px 0px;
    }

    .img-bg-color{
        width: 100%;
    }

    .bg-text button{
        width: 100%;
    }
    
}
    


@media screen and (max-width: 800px){

    .for-intro h1{
        font-size: 56px;
    }
    .sale-ad h2{
        font-size: 18px;
    }

    .img-for-bg{
        display: grid;
        grid-template-columns: 1fr;
    }

    .featured-grid{
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }

    

    .end-abt{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 700px){
    .for-intro h1{
        font-size: 52px;
    }

    .abt-offers{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product img{
        width: 180px;
    }

    .sale-ad h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px){
    .for-intro h1{
        width: 60%;
    }

    .end-abt{
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 20px;
    }

    .banner-items h3{
        font-size: 20px;
    }

    .banner-items h2{
        font-size: 30px;
    }

    .product img{
        width: 170px;
    }

    
    .sale-ad h2{
        font-size: 15px;
        text-align: center;
    }

    .end-right button{
        width: 30%;
    }

    .main-end{
        display: flex;
        flex-flow: column;
        margin: 15px 0px;
    }

    .main-end li{
        margin-top: 15px ;
    }

    .banner{
        background-position: center;
    }

    .feature-head h2{
        font-size: 38px;
    }

    .feature-head hr{
        width: 100px;
    }
}

@media screen and (max-width: 500px){
    
    .for-intro h1{
        width: 85%;
    }

    .abt-offers{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10%;
    }

    .banner-items p{
        line-height: 22px;
    }

    .bg-text h3{
        margin-top: -15px;
    }

    .product img{
        width: 150px;
    }

    .feature-head h2{
        font-size: 32px;
    }

    .feature-head hr{
        width: 80px;
    }
}

@media screen and (max-width: 400px){
    .for-intro h1{
        width: 50%;
        font-size: 50px;
    }


    .featured-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product img{
        width: 170px;
    }

    .main-end p{
        font-size: 12px;
    }

    .main-end li{
        font-size: 10px;
    }

    .bg-text p{
        margin: 15px 0px;
    }

    .banner-items h3{
        margin-top: 50px;
    }

    .banner-items p{
        line-height: 30px;
        width: 100%;
    }
}